.App {
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh auto 5vh;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  padding: 0 10vh;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: calc(10px + 2vmin);
}

.navMenu ul {
  display: flex;
}

.navMenu a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
}

.navMenu a:hover {
  color: aquamarine;
}

.register,
.login {
  display: flex;
  justify-content: center;
}

form {
  width: 300px;
}

.mb-1 {
  margin-bottom: 1rem;
}

form label,
form input,
form span {
  display: block;
  text-align: left;
}

form span {
  color: red;
  font-size: 1rem;
  line-height: 1rem;
}
